In [66]:
import pandas as pd

import os

In [71]:
df = pd.DataFrame(
    [[1, 1], [2, 1], [1, 2], [2, 9]],
    columns=["user_id", "item_id"],
    index=[999, 888, 777, 666],
)
display(df)
groupby = df.groupby("user_id")

     user_id  item_id
999        1        1
888        2        1
777        1        2
666        2        9

In [72]:
groupby.apply(lambda x: display(type(x)))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

C:\Users\James\AppData\Local\Temp\ipykernel_21848\2543478009.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  groupby.apply(lambda x: print(type(x)))

Empty DataFrame
Columns: []
Index: []