In [50]:
import pandas as pd
import os
import tqdm
import numpy as np

In [2]:
animes = pd.read_csv('../data/copperunion/anime.csv')
ratings = pd.read_csv('../data/copperunion/rating.csv')
display(animes.head())
display(ratings.head())

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [66]:
n_users = ratings["user_id"].nunique()
n_items = animes["anime_id"].nunique()
print(f"{n_users=} {n_items=} {len(ratings)=}")

anime_to_inc_id = animes.reset_index().set_index('anime_id')["index"].to_dict()
print(f"{len(anime_to_inc_id)=} {max(anime_to_inc_id.values())=}")

n_users=73515 n_items=12294 len(ratings)=7813737
len(anime_to_inc_id)=12294 max(anime_to_inc_id.values())=12293

Find Anime-Anime Jaccard Similarity Matrix (12k x 12k)

In [57]:
ratings_interactions = ratings[["user_id", "anime_id"]]
item_similarity_matrix = np.zeros((n_items, n_items))
for anime_id, canonical_anime_id in sorted(anime_to_inc_id.items()):
    filtered_interactions = ratings_interactions[
        ratings_interactions["anime_id"] == anime_id
    ]["user_id"]
    intersection = (
        pd.merge(
            filtered_interactions,
            ratings_interactions,
            left_on="user_id",
            right_on="user_id",
        )
        .groupby("anime_id")
        .count()
        .drop(anime_id)
        .rename(columns={"user_id": "intersection"})
    )
    sum_counts = (
        (len(filtered_interactions) + ratings_interactions.groupby("anime_id").count())
        .drop(anime_id)
        .rename(columns={"user_id": "sum_counts"})
        .join(
            intersection, how="left", lsuffix="_left", rsuffix="_right"
        )
        .fillna(0)
    )
    sum_counts["union"] = sum_counts["sum_counts"] - sum_counts["intersection"]
    sum_counts["jaccard"] = sum_counts["intersection"] / sum_counts["union"]
    row = np.zeros(n_items)
    indices, entries = [anime_to_inc_id[anime_id] for anime_id in sum_counts.index], sum_counts["jaccard"]
    print(indices)
    break

KeyError: 20261